{% extends "base.html" %}

{% block content %}

<ol class="breadcrumb">
    <li><a href="/">Home</a></li>
</ol>

<div class="jumbotron">
	<h1>Use cases</h1>
	<p>Here are the common use cases to use this piece of software.</p>
	<p><a href="{% url 'generator:create' %}" class="btn btn-primary btn-lg" role="button">Generate CV</a>&nbsp;<a href="{% url 'generator:create' %}" class="btn btn-primary btn-lg" role="button">Generate CV</a>&nbsp;<a href="{% url 'generator:create' %}" class="btn btn-primary btn-lg" role="button">Generate CV</a>&nbsp;<a href="{% url 'generator:create' %}" class="btn btn-primary btn-lg" role="button">Generate CV</a>&nbsp;<a href="{% url 'generator:create' %}" class="btn btn-primary btn-lg" role="button">Generate CV</a>&nbsp;<a href="{% url 'generator:create' %}" class="btn btn-primary btn-lg" role="button">Generate CV</a>&nbsp;<a href="{% url 'generator:create' %}" class="btn btn-primary btn-lg" role="button">Generate CV</a></p>
</div>

<h3>Latest generated CVs</h3>

{% if latest_cv_by_employee %}
<table class="table table-striped">
   	<thead>
   		<tr>
   			<th>#</th>
   			<th>Employee</th>
   			<th>Template</th>
   			<th>Date</th>
   			<th>Status</th>
        <th>Tex</th>
   			<th>Media</th>
   		</tr>
   	<tbody>
        {% for generator in latest_cv_by_employee %}
   		<tr>
   			<td>{{ generator.id }}</td>
   			<td>{{ generator.employee }}</td>
   			<td>{{ generator.template }}</td>
   			<td>{{ generator.creation_date }}</td>
   			{% if generator.status %}
   			<td>
   			{% if generator.status == 'Q' %}
   			<button type="button" class="btn btn-warning btn-xs">Queued</button>
   			{% elif generator.status == 'F' %}
   			<button type="button" class="btn btn-success btn-xs">Created</button>
   			{% endif %}
   			{% endif %}
   			</td>
        {% if generator.tex_file %}
        <td><a href="{{ generator.tex_file.url }}"><span class="glyphicon glyphicon-download"></span></a></td>
        {% else %}
        <td><span class="glyphicon glyphicon-ban-circle"></span></a></td>
        {% endif %}
        {% if generator.pdf_file %}
   			<td><a href="{{ generator.pdf_file.url }}"><span class="glyphicon glyphicon-download"></span></a></td>
        {% else %}
        <td><span class="glyphicon glyphicon-ban-circle"></span></a></td>
        {% endif %}
  		</tr>
        {% endfor %}
   	</tbody>
</table>
{% else %}
<div class="alert alert-danger">Yet, no CVs were generated.</div>
{% endif %}

{% endblock %}
